<!DOCTYPE html>

{% load static %}

<html>

<head>
	<title>bloodBank|search</title>
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
</head>

<body>
	<h1>USERS:</h1>
	<hr class="line">
	
	<div class="container">
		
		<div class="form">
			<form action= "get_doners">
				Enter ID : <input type="text" placeholder="ID" class="ID" name ="ID" ><br>
 
				Select gender : <select class="gender" name="gender" > 
					<option>choose gender</option>
					<option>Male</option>
					<option>Female</option>
				</select><br>
				
				Select blood type : <select class="blood" name = "bloodType">
					<option>choose a blood type</option>
					<option>A+</option>
					<option>A-</option>
					<option>B+</option>
					<option>B-</option>
					<option>AB+</option>
					<option>AB-</option>
					<option>O+</option>
					<option>O-</option>
				</select><br>
				<input type="submit">
			</form>
		</div>

		<div class="table1">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>ID</th>
						<th>Phone Number</th>
						<th>Age</th>
						<th>Gender</th>
						<th>BloodType</th>
					</tr>
				</thead>

				<tbody>
					{% block content %}
					{% for doner in doners %}
					<tr>
					<th> {{ doner.name }}</th>
					<th> {{ doner.id }}</th>
					<th> {{ doner.phone_num }}</th>
					<th> {{ doner.age }}</th>
					{%if doner.gender == 1 %}
						<th>Male</th>
					{% elif doner.gender == 2 %}
						<th>Female</th>
					{% endif %}
					{%if doner.blood_type == 1 %}
						<th> A+</th>
					{% elif doner.blood_type == 2 %}
						<th> A+</th>
					{% elif doner.blood_type == 3 %}
						<th> B+</th>
					{% elif doner.blood_type == 4 %}
						<th> B-</th>	
					{% elif doner.blood_type == 5 %}
						<th> O+</th>
					{% elif doner.blood_type == 6 %}
						<th> O-</th>
					{% elif doner.blood_type == 7 %}
						<th> AB+</th>
					{% elif doner.blood_type == 8 %}
						<th> AB-</th>
					{% endif %}
					</tr> 
					{% endfor %}
					{% endblock %}
				</tbody>
				
		
			</table>
			
		</div>
		
	</div>
	
</body>

</html>